DISCORD_BOT_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
MOCK_SYSTEM_ALERT_CHANNEL_ID=
MOCK_IDLE_TIMEOUT_SEC=600
MOCK_APPROVAL_TIMEOUT_SEC=120
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
STATE_STORE_DSN=
MEMORY_STORE_DSN=
TASK_EVENTS_RETENTION_DAYS=90
AUDIT_LOGS_RETENTION_DAYS=180
